extends layout

block onload
    script.
        document.addEventListener("DOMContentLoaded", function() {
            var generationId = #{generation.id};
            generationData(generationId);
        });

block content 
    header
        a(href="/")
            h1 HondaHeads 
    nav
        a(href="/")
            button Inicio
        span >
        a(href=`/model/${generation.modelo_id}`)
            button #{generation.nombreModelo} 
        span >
        a(href="#")
            button #{generation.nombreGeneracion} 
    .main_wrapper
            main
                h2
                    img(src="/images/HondaLogoRed.png", class="h2_logo")
                    |   #{generation.titulo}
                article
                    div    
                        img(src=`/images/${generation.rutaSlides}jpg`, class="gen_img_first")
                        h3 Historia
                        p #{generation.historia}
                div.contenedor_caracteristicas_generacion
                    section 
                        h3 Características básicas
                        div#datos_generacion
                    section
                        h3 Motorizaciones 
                        div#motorizaciones_generacion
                section.section_imagenes_generacion
                    h3 Imagenes
                    div.video
                        iframe(src=`${generation.video}`, frameborder="0") 
                        
                    ul.gallery.js-flickity(data-flickity-options='{ "wrapAround": true }')
                        each i in [2, 3, 4, 5]
                            li.img_modelo
                                img(src=`/images/${generation.rutaSlides}${i}.jpg`)